<!-- 이 파일이 마이바티스의 Mapper로 사용된다는 일종의 선언 외우지마세용 -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.chap05.mapper.MemberMapper">

    <insert id="save">
        INSERT INTO tbl_member
        (account, password, name, email)
        VALUES
        (#{account}, #{password}, #{name}, #{email})
    </insert>

    <select id="findMember" resultType="member">
        SELECT * FROM tbl_member
        WHERE account = #{account}
    </select>

    <select id="isDuplicate" resultType="boolean">
        SELECT COUNT(*)
        FROM tbl_member
        <if test="type == 'account' ">
            WHERE account = #{keyword}
        </if>
        <if test="type == 'email' ">
            WHERE email = #{keyword}
        </if>
    </select>

    <update id="saveAutoLogin">
        UPDATE tbl_member
        SET session_id = #{sessionId}, limit_time = #{limitTime}
        WHERE account = #{account}
    </update>


</mapper>







